# Kbuild output
*.o
*.o.cmd
*.ko
*.ko.cmd
*.obj
*.mod.c
.tmp_versions
modules.order
Module.symvers

# Emacs and VIM autosave files
*~
\#*\#
.\#*

# eclipse project settings
.pydevproject
.project
.cproject
.settings
.pydevproject

# Python compiler cache files
*.pyc
