# Kbuild output
*.o
*.o.*
*.ko
*.ko.cmd
*.obj
*.mod.c
.tmp_versions
modules.order
Module.symvers

# Emacs and VIM autosave files
*~
\#*\#
.\#*

# eclipse project settings
.pydevproject
.project
.cproject
.settings
.pydevproject

# Python compiler cache files
*.pyc

# tdb binaries
/tempesta_db/libtdb/libtdb.so
/tempesta_db/tdbq/tdbq

#debian package
build-stamp
configure-stamp
debian
