Source: tempesta-fw
Section: web
Priority: optional
Maintainer: Tempeststa Technologies, Inc. <info@tempesta-tech.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.0
Homepage: http://tempesta-tech.com
Vcs-Git: https://github.com/tempesta-tech/tempesta.git
Vcs-Browser: https://github.com/tempesta-tech/tempesta.git

Package: tempesta-fw
Architecture: amd64
Depends: libboost-dev,
 libboost-program-options-dev,
 kdump-tools,
 libfmt-dev,
 libspdlog-dev,
 linux-headers-5.10.35.tfw-39c65d3,
 linux-image-5.10.35.tfw-39c65d3,
 ${misc:Depends}
Description: Open-source high-speed application delivery controller.
 Tempesta FW is an open-source application delivery controller (ADC) built
 into Linux that provides fast web content acceleration and web application
 protection. Built into the Linux TCP/IP stack for better and more stable
 performance relative to usual modern HTTP accelerators and load balancers.
