#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

NAME=tempesta-fw
DEB_NAME=$(NAME)-dkms
VERSION=$(shell dpkg-parsechangelog |grep ^Version:|cut -d ' ' -f 2)

%:
	dh $@ --with dkms --with systemd

override_dh_auto_install:
	dh_install tempesta_fw usr/src/$(NAME)-$(VERSION)
	dh_install tempesta_db usr/src/$(NAME)-$(VERSION)
	dh_install tls usr/src/$(NAME)-$(VERSION)
	dh_install Makefile usr/src/$(NAME)-$(VERSION)
	dh_install etc/tempesta_fw.conf /etc
	dh_install scripts /lib/tempesta
	find "debian/$(DEB_NAME)/usr/src/$(NAME)-$(VERSION)" -name '.git*' -exec rm {} \;

override_dh_dkms:
	dh_dkms -V $(VERSION)

override_dh_installinit:
	dh_installinit --no-start --no-restart-on-upgrade --noscripts --name=tempesta-fw

override_dh_systemd_start:
	dh_systemd_start --no-start --no-restart-on-upgrade

override_dh_auto_build:
override_dh_auto_install:
override_dh_auto_clean:
override_dh_auto_test:
