#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_NAME=tempesta-fw

%:
	dh $@ --with systemd

override_dh_auto_install:
	dh_install fw usr/src/tempesta
	dh_install db usr/src/tempesta
	dh_install tls usr/src/tempesta
	dh_install lib usr/src/tempesta
	dh_install regex usr/src/tempesta
	dh_install Makefile usr/src/tempesta
	dh_install etc/* /etc/tempesta
	dh_install scripts /lib/tempesta
	find "debian/$(DEB_NAME)/usr/src/tempesta" -name '.git*' -exec rm {} \;

override_dh_installinit:
	dh_installinit --no-start --no-restart-on-upgrade --noscripts --name=tempesta-fw

override_dh_systemd_start:
	dh_systemd_start --no-start --no-restart-on-upgrade

override_dh_auto_build:
override_dh_auto_install:
override_dh_auto_clean:
override_dh_auto_test:
