[Unit]
Description=High performance HTTP proxy server
DefaultDependencies=false
After=network.target

[Service]
Type=oneshot
Environment="TFW_PATH=/usr/src/tempesta/fw"
Environment="TDB_PATH=/usr/src/tempesta/db/core"
Environment="TLS_PATH=/usr/src/tempesta/tls"
Environment="LIB_PATH=/usr/src/tempesta/lib"
Environment="REGEX_PATH=/usr/src/tempesta/regex"
Environment="REGEX_SETUP_SCRIPT_PATH=/lib/tempesta/scripts/regex_setup.sh"
Environment=TFW_CFG_PATH=/etc/tempesta/tempesta_fw.conf
Environment="TFW_SYSTEMD=1"
Environment="TFW_NETCONSOLE_HOST="
Environment="TFW_NETCONSOLE_PORT="
Environment="TFW_NETCONSOLE_NI="
Environment="TFW_TROUBLESHOOTING_HOST="
Environment="TFW_TROUBLESHOOTING_PORT="
Environment="TFW_TROUBLESHOOTING_MAC="
RemainAfterExit=yes
ExecStart=/lib/tempesta/scripts/tempesta.sh --start
ExecStopPost=/lib/tempesta/scripts/tempesta.sh --stop
ExecReload=/lib/tempesta/scripts/tempesta.sh --reload
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
