[Unit]
Description=High performance HTTP proxy server
DefaultDependencies=false
After=network.target

[Service]
Type=oneshot
Environment="TFW_PATH=/lib/modules/%v/updates/dkms/"
Environment="TDB_PATH=/lib/modules/%v/updates/dkms/"
Environment="TLS_PATH=/lib/modules/%v/updates/dkms/"
Environment="TFW_CLS_PATH=/lib/modules/%v/updates/dkms/"
Environment="TFW_SCHED_PATH=/lib/modules/%v/updates/dkms/"
Environment=TFW_CFG_PATH=/etc/tempesta/tempesta_fw.conf
RemainAfterExit=yes
ExecStart=/lib/tempesta/scripts/tempesta.sh --start
ExecStop=/lib/tempesta/scripts/tempesta.sh --stop
ExecReload=/lib/tempesta/scripts/tempesta.sh --reload

[Install]
WantedBy=multi-user.target
